__pycache__/
build/
*.json
*.so
*.ncu-rep
cuda/cutlass_fa/ncu/benchmark_cutlass_fa
cuda/cutlass_gemm/ncu/benchmark_cutlass_gemm
cuda/cutlass_gemm/ncu/test_cutlass_gemm
cuda/cutlass_fa/ncu/test_cutlass_fa
